body {
  background-color: var(--white);
  color: var(--text-color);
  transition: color 0.6s, background-color 0.6s;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.6;
  }
}

figure {
  margin: 0;
}

img {
  width: 100%;
  border-radius: var(--radius);
}

svg {
  max-width: 100%;
}

button:hover {
  cursor: pointer;
}

.pagination {
  text-align: center;
  @include smaller-than($tablet) {
    padding-top: var(--spacing);
  }
  a.btn {
    margin: 0 0.25em;
    width: 1.25em;
    padding: 1em auto;
  }
  a.active--exact.active {
    background: var(--yellow);
  }
}

.page-title {
  text-align: center;
  padding: 1rem 0 2.5rem 0;
  border-bottom: 2px solid var(--divider-color);
}

a.btn {
  text-decoration: none;
  display: inline-block;
  border-radius: var(--radius);
  background: var(--bg-code);
  padding: 0.5em;
  font-weight: bold;
  font-size: 1em;
}
