code {
  font-weight: 700;
  font-size: 0.8em; // for code outside of pre
  background: var(--bg-code);
  border-radius: calc(var(--radius) / 2);
  padding: calc(var(--radius) / 4) calc(var(--radius) / 1);
}

pre *,
pre code {
  font-family: "Inconsolata", monospace !important;
  font-weight: 400; // reset
}

pre {
  border-radius: calc(var(--radius) / 2);
  code {
    padding: 0;
  }
}

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
  color: var(--code-light);
  background: none;
  font-family: "Inconsolata", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: var(--code-comment);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: var(--code-comment);
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 2em 1.5em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--code-background);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.doctype {
  color: var(--code-lightest);
}

.token.comment,
.token.prolog,
.token.cdata {
  color: var(--code-comment);
}

.token.punctuation {
  color: var(--code-light);
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--code-blue);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--code-yellow);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--code-green);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--code-green);
}

.token.function,
.token.class-name {
  color: var(--code-aqua);
}

.token.regex,
.token.important,
.token.variable {
  color: var(--code-red);
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

// New Moon Syntax Highlighting Styles
// https://www.taniarascia.com/adding-syntax-highlighting-to-code-snippets/

code[class*="language-css"],
code[class*="language-less"],
code[class*="language-sass"],
code[class*="language-scss"] {
  color: var(--code-purple);
}
.filename {
  background: var(--code-purple);
  padding: 0.5rem 1rem 0.75rem;
  font-size: 1rem;
  color: var(--code-lightest);
  font-weight: 700;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: -2.2rem;
}

.token.namespace {
  opacity: 0.7;
}
.token.attr-value,
.token.string {
  color: var(--code-green);
}
.token.punctuation {
  color: var(--code-light);
}
.token.operator {
  color: var(--code-beige);
}
.token.variable {
  color: var(--code-red);
}
.token.property {
  color: var(--code-light);
}
.token.boolean,
.token.constant,
.token.entity,
.token.inserted,
.token.number,
.token.regex,
.token.symbol,
.token.url {
  color: var(--code-lightest);
}
.token.delimiter {
  background: #000;
  color: var(--code-lightest);
  padding: 1px 2px;
}
.token.atrule {
  color: var(--code-aqua);
}
.token.keyword {
  color: var(--code-light-yellow);
}
.language-autohotkey .token.selector {
  color: var(--code-lightest);
}
.token.attr-name {
  color: var(--code-yellow);
}
.token.function {
  color: var(--code-aqua);
}
.language-php .token.function {
  color: var(--code-lightest);
}
.token.class-name {
  color: var(--code-purple);
}
.language-autohotkey .token.tag,
.token.deleted {
  color: var(--code-red);
}
.token.tag {
  color: var(--code-blue);
}
.language-autohotkey .token.keyword {
  color: var(--code-light-yellow);
}
.token.selector {
  color: var(--code-yellow);
}
.token.italic {
  font-style: italic;
}
pre[data-line] {
  position: relative;
  padding: 1rem 0;
}
.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1rem;
  background: hsla(0, 0%, 58.8%, 0.1);
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}
.line-highlight:before,
.line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: 0.4em;
  left: 0.6em;
  min-width: 1em;
  padding: 0 0.5em;
  background-color: transparent;
  color: transparent;
  font: 700 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: 0.3em;
  border-radius: 999px;
  text-shadow: none;
}
.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: 0.4em;
}
.line-numbers .line-highlight:after,
.line-numbers .line-highlight:before {
  content: none;
}
