@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Roboto+Mono:400,700&display=swap');

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--base-font-size);
  line-height: 1.25;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  border-bottom: 1px solid var(--text-color);
}

.text-center {
  text-align: center;
}

.body-font,
* {
  font-family: 'Roboto', sans-serif;
}

.heading,
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  * {
    font-family: inherit;
  }
}

.subheading,
nav,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  * {
    font-family: inherit;
  }
}

.monospace {
  font-family: 'Roboto Mono', cursive;
}

pre *,
code {
  font-family: 'Roboto Mono', cursive !important;
  font-weight: 400;
}

code {
  font-weight: 700;
  font-size: 0.8em; // for code outside of pre
}

code {
  background: var(--bg-code);
  border-radius: calc(var(--radius) / 2);
  padding: calc(var(--radius) / 4) calc(var(--radius) / 1);
}
