@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Nunito:600|Rubik:700|Inconsolata:400,700&display=swap');

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--base-font-size);
  line-height: 1.25;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  border-bottom: 1px solid var(--text-color);
}

.text-center {
  text-align: center;
}

.body-font,
* {
  font-family: 'Karla', sans-serif;
}

.heading,
h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  * {
    font-family: inherit;
  }
}

.subheading,
nav,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  * {
    font-family: inherit;
  }
}

.monospace,
code {
  font-family: 'Inconsolata', monospace;
}

code {
  font-weight: 700;
  font-size: 0.8em; // for code outside of pre
  background: var(--bg-code);
  border-radius: calc(var(--radius) / 2);
  padding: calc(var(--radius) / 4) calc(var(--radius) / 1);
}

pre *,
pre code {
  font-family: 'Inconsolata', monospace !important;
  font-weight: 400; // reset
}
