// SASS Variables
// They don't dynamically change, just global variables to reference

//
// MEDIA QUERIES
//
$desktop-xl: 1200px;
$desktop: 992px;
$tablet: 768px;
$mobile: 480px;

// CSS Variables
// They dyamically change based on user

:root {
  --base-font-size: 18px;
  --width: 768px;
  --spacing: 6rem;
  --radius: 0.5em;
}

body {
  --bg-color: var(--white);
  --bg-code: hsl(0, 6%, 91%);
  --text-color: hsl(0, 0%, 14%);
  --text-color-muted: hsl(0, 0%, 75%);
  --divider-color: hsl(0, 0%, 33%);
  // specific colors

  //  Colors based on New Moon Theme
  //  https://github.com/taniarascia/new-moon

  --code-background: #2d2d2d; // Darkest
  --code-comment: #777c85; // Comment
  --code-light: #b3b9c5; // Light
  --code-lightest: #ffffff; // Lightest
  --code-red: #f2777a; // Red
  --code-orange: #fca369; // Orange
  --code-yellow: #ffd479; // Yellow
  --code-light-yellow: #ffeea6; // Light Yellow
  --code-green: #92d192; // Green
  --code-blue: #6ab0f3; // Blue
  --code-aqua: #76d4d6; // Aqua
  --code-purple: #e1a6f2; // Purple
  --code-beige: #ac8d58; // Beige

  --pink: hsl(0, 97%, 87%);
  --yellow: hsl(45, 94%, 68%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 95%);
}
