@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,800&display=swap');

html {
  font-size: var(--base-font-size);
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.monospace {
  font-family: monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'EB Garamond', serif;
}
