// SASS Variables
// They don't dynamically change, just global variables to reference

//
// MEDIA QUERIES
//
$desktop-xl: '1200px';
$desktop: '992px';
$tablet: '768px';
$mobile: '480px';

// CSS Variables
// They dyamically change based on user

html {
  --base-font-size: 20px;
}

// Light default theme
body {
  --bg-color: #eeeeee;
  --bg-code: hsl(0, 6%, 91%);
  --text-color: #242424;
  --link-color: hsl(253, 100%, 50%);
  --width: 768px;
  // specific colors
  --pink: hsl(0, 97%, 87%);
  --yellow: hsl(45, 94%, 68%);
  --green: hsl(162, 100%, 85%);
  --blue: hsl(205, 100%, 59%);
}

// Dark theme
body[data-theme='dark'] {
  --bg-color: #242424;
  --bg-code: hsla(0, 1%, 74%, 0.3);
  --text-color: #eeeeee;
  --link-color: hsl(28, 100%, 50%);
  // specific colors
  --pink: hsl(10, 30%, 54%);
  --yellow: #daa520;
  --green: ##febcbc;
  --blue: #5d30ff;
}
